<div class="pjax-loading animate" style="display: none;">
  <%= image_tag 'loader.gif' %>
</div>
<div class="pjax-loading error" style="display: none;">
  <%= image_tag 'error.png', :title => 'No idea what happened here' %>
</div>
<footer>
  <div class="footer"><p>©Maropost Forum 2017</p></div>
</footer>
